#particle-js {
  height: calc(100% - 50px);
  width: 100%;
  position: relative;
}
canvas {
  background-image: linear-gradient(to bottom, #00000028, #000),
    url("https://wallpaperaccess.com/full/84303.jpg");
  background-size: cover;
  position: absolute;
  /* filter: brightness(70%); */
  top: 0%;
  left: 0;
  z-index: -1;
}
