.defence {
  &__grid {
    display: grid;
    font-size: 70% !important;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-gap: 2rem;
    margin: 8rem 4rem;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 1024px) {
      grid-gap: 5rem;
    }
  }
  &__img {
    border-radius: 2rem;
    overflow: hidden;
    & video {
      width: 100%;
    }
  }
  &__des {
    & p {
      font-size: 1.75rem;
    }
  }
  &__list {
    font-size: 1.75rem;
    display: block;
    & li:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
